<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Lobster&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../logo erby organizing-modified.ico">
    
    <!-- Link Cdn -->
    <link rel="stylesheet" href="../assets/fontawesome 6/css/all.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Link Css -->
    <link rel="stylesheet" href="../style.css">
    <!-- <link rel="stylesheet" href="./css/About.css"> -->

    <!-- Verifikasi Apudi -->
    <meta name="apudi-verification" content="a6e8ee7413f0cc3aaf91ecb1cea3c63555d9a773ce4fe9c98000767dc40ec178">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3PVDR469D">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-H3PVDR469D');
    </script>   

    <title>Erby Organizing App</title>

    <style>
        .courses {
            margin-top: 1rem;
        }

        .u-web {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    
    <!-- Navigation -->
    <nav>
        <div class="container nav_container">
            <a href="../index.html"><h4>Erby Organizing</h4></a>
            <ul class="nav_menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./Category.html">Category</a></li>
                <li><a href="./About.html">About</a></li>
                <li><a href="./Contact.html">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </nav>
    <!-- End Navigation -->
    
    <!-- Content-Favorite -->
    <section class="courses">
        <h2 class="line-courses">Undangan Video</h2>
        <div class="container courses_container">
            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/U0f4_YipRzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 1</small>
                    <h4>Undangan Video Minimalist 1</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/ie_4qXZIj4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 1</small>
                    <h4>Undangan Video Minimalist 2</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order1.html" class="btn_category">
                    Pesan Sekarang
                    </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/ZDfjUa25Okw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 1</small>
                    <h4>Undangan Video Minimalist 3</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order.html" class="btn_category">
                        Pesan Sekarang
                        </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/kX5p0T2e1zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 1</small>
                    <h4>Undangan Video Minimalist 4</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order1.html" class="btn_category">
                        Pesan Sekarang
                        </a>
                </div>
            </article>
            <!-- Garis -->
            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/yBCzIzdmb6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 2</small>
                    <h4>Undangan Video Minimalist 5</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/nQjitRtLTP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 2</small>
                    <h4>Undangan Video Minimalist 6</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order1.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/eYOsZUCVjuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 2</small>
                    <h4>Undangan Video Minimalist 7</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <iframe width="250" height="300" src="https://www.youtube.com/embed/DDi3a-ImDos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="course_info">
                    <small class="line_p">line 2</small>
                    <h4>Undangan Video Elegant 1</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order1.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>

            <!-- Garis -->
            <article class="course">
                <div class="course_image">
                    <video width="250" controls>
                        <source src="../assets/video/Elegant 2.mp4" type="video/webm">
                    </video>
                </div>
                <div class="course_info">
                    <small class="line_p">line 3</small>
                    <h4>Undangan Video Elegant 2</h4>
                    <p>Harga : 35K</p>
                    <p>Bersifat Permanen</p>
                    <a href="./order.html" class="btn_category">
                        Pesan Sekarang
                    </a>
                </div>
            </article>
        </div>
    </section>
    <!-- End Content-Favorite -->

    <!-- Item Website -->
    <section class="u-web">
        <h2 class="line-courses">Undangan Website</h2>
        <div class="container courses_container">
            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/demo 01.png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 01</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-01/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 02.png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 02</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-02/" class="buy">Preview</a>
                        <a href="./order.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 03 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 03</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-03/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 04 (web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 04</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-04/" class="buy">Preview</a>
                        <a href="./order.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <!-- Line 2 -->
            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 05 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 05</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-05/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 06 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 06</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-06/" class="buy">Preview</a>
                        <a href="./order.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 07 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 07</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-07/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 08 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 08</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-08/" class="buy">Preview</a>
                        <a href="./order.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <!-- Line 3 -->
            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 09 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 09</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-09/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 10 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 10</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-10/" class="buy">Preview</a>
                        <a href="./order.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>

            <article class="course">
                <div class="course_image">
                    <img src="../assets/image/Web Wedding/Demo 11 (Web).png" alt="">
                </div>
                <div class="course_info">
                    <h4>Undangan Website Demo 11</h4>
                    <p>Harga : 75K</p>
                    <span>12 Bulan</span>    
                    <div class="buttons">
                        <a href="https://demo1.erbyorganizing.com/demo-11/" class="buy">Preview</a>
                        <a href="./order1.html" class="cart">Pesan Sekarang</a>
                    </div>
                </div>
            </article>
        </div>
    </section>


<!-- Footer & Verifikasi -->
<footer class="footer">
    <div class="container footer_name">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a href="https://apudi.id/layanan/erbyorganizing" rel="dofollow"><img src="https://apudi.id/wp-content/uploads/2023/01/apudi2.svg" /></a>
            </div>
          </div>
        <h5 class="pt-3">Build With <span style="color:#e25555;">&#9829;</span> &copy <i>2022</i> <b>BaeCode Digital</b> <span style="color:#e25555;">&#9829;</span></h5>
    </div>
</footer>

<!-- Link Js -->
<script src="../script.js"></script>

</body>
</html>

<!-- https://wa.me/6282316857460?text=Nama Produk Demo06 %3A%0ANama Kedua Mempelai%3A%0ANama Kedua Orang Tua%3A%0ATempat/Pukul/Acara%3A%0ARequest Lagu%3A%0AFoto Atau Karakter%3A -->