<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arizonia&family=Lobster&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../logo erby organizing-modified.ico" />

    <!-- Link Cdn -->
    <link rel="stylesheet" href="../assets/fontawesome 6/css/all.min.css" />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <!-- Link Css -->
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./css/Footer.css" />
    <!-- <link rel="stylesheet" href="./css/About.css"> -->

    <!-- Verifikasi Apudi -->
    <meta
      name="apudi-verification"
      content="a6e8ee7413f0cc3aaf91ecb1cea3c63555d9a773ce4fe9c98000767dc40ec178"
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-H3PVDR469D"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-H3PVDR469D");
    </script>

    <title>Erby Organizing App</title>

    <style>
      .courses {
        margin-top: 1rem;
      }

      .u-web {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand fixed-bottom">
      <ul class="navbar-nav nav-justified w-100">
        <li class="nav-item active">
          <a href="/index.html" class="nav-link"
            ><span>Home</span><i class="fas fa-igloo fa-3x"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="/components/Category.html" class="nav-link"
            ><span>Store</span><i class="fas fa-cart-plus fa-3x"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="/components/About.html" class="nav-link"
            ><span>About</span><i class="fas fa-address-card fa-3x"></i><a
          >
        </li>
        <li class="nav-item">
          <a href="/components/Contact.html" class="nav-link"
            ><span>Contact</span><i class="fas fa-address-book fa-3x"></i
          ></a>
        </li>
      </ul>
    </nav>
    <!-- End Navigation -->

    <!-- Content-Favorite -->
    <section class="courses">
      <h2 class="line-courses">Undangan</h2>
      <div class="container courses_container">
        <!-- Undangan Website -->

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 1.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 1</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-01/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 2.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 2</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-02/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 3.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 03</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-03/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 4.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 04</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-04/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <!-- Line 2 -->

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 5.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 05</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-05/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 6.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 06</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-06/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 7.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 07</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-07/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 8.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 08</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-08/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <!-- Line 3 -->

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 9.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 09</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-09/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 10.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 10</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-10/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 11.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 11</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-11/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 12.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 12</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-12/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <!-- Line 4 -->

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 13.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 13</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-13/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 14.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 14</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-14/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 15.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 15</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-15/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 16.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 16</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-16/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 17.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 17</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-17/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 18.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 18</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-18/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 19.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 19</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-19/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 20.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 20</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-20/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <!-- Line 5 -->
        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 21.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 21</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-21/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 22.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 22</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-22/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 23.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 23</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-23/" class="buy"
                >Preview</a
              >
              <a href="order.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>

        <article class="course">
          <div class="course_image">
            <img src="../assets/image/Web Wedding/Demo ERUD 24.png" alt="" />
          </div>
          <div class="course_info">
            <h6>Undangan Website Demo ERUD 24</h6>
            <p>Harga : 120K</p>
            <div class="buttons">
              <a href="https://weddingpress.co.id/section/demo-24/" class="buy"
                >Preview</a
              >
              <a href="order1.html" class="cart">Pesan Sekarang</a>
            </div>
          </div>
        </article>
      </div>
    </section>

    <!-- Footer & Verifikasi -->
    <!-- Footer -->
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Erby <span>Organizing</span></h3>

        <p class="footer-links">
          <a href="index.html">Home</a>
          |
          <a href="./components/Category.html">Category</a>
          |
          <a href="./components/About.html">About</a>
          |
          <a href="./components/Contact.html">Contact</a>
        </p>

        <p class="footer-company-name">
          Copyright © 2023 <strong>Erby Lintas Inovasi</strong> All rights
          reserved
        </p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fas fa-map-marker-alt"></i>
          <p><span>Subang</span> Jawa barat</p>
        </div>
        <div>
          <i class="fa-solid fa-square-phone"></i>
          <p>Admin 1 : 085695620052</p>
        </div>
        <div>
          <i class="fa-solid fa-envelope"></i>
          <p>
            <a href="mailto:Robbybaehaqi8@gmail.com"></a>Robbybaehaqi8@gmail.com
          </p>
        </div>
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>Tentang Kami</span>
          <strong>ErbyOrganizing</strong> Platform Undangan Digital dengan
          varian template yang menarik & unik 😊, Ciptakan moment bahagia dengan
          pasangan di <strong>ErbyOrganizing</strong>
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="https://apudi.id/layanan/erbyorganizing"
            ><i class="fas fa-clipboard-check"></i
          ></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="https://youtube.com/@ErbyOrganizing?si=kFeSEGoXJe0kFX9S"
            ><i class="fab fa-youtube"></i
          ></a>
        </div>
      </div>
    </footer>

    <!-- Link Js -->
    <script src="../script.js"></script>
  </body>
</html>

<!-- https://wa.me/6282316857460?text=Nama Produk Demo06 %3A%0ANama Kedua Mempelai%3A%0ANama Kedua Orang Tua%3A%0ATempat/Pukul/Acara%3A%0ARequest Lagu%3A%0AFoto Atau Karakter%3A -->
