<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Lobster&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="../logo erby organizing-modified.ico">
    
    <!-- Link Cdn -->
    <link rel="stylesheet" href="../assets/fontawesome 6/css/all.min.css">
    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- Link Css -->
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../components/css/Contact.css">
    <!-- <link rel="stylesheet" href="./css/About.css"> -->

    <!-- Verifikasi Apudi -->
    <meta name="apudi-verification" content="a6e8ee7413f0cc3aaf91ecb1cea3c63555d9a773ce4fe9c98000767dc40ec178">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3PVDR469D">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-H3PVDR469D');
    </script>   

    <title>Erby Organizing App</title>
</head>
<body>
    
    <!-- Navigation -->
    <nav>
        <div class="container nav_container">
            <a href="../index.html"><h4>Erby Organizing</h4></a>
            <ul class="nav_menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./Category.html">Category</a></li>
                <li><a href="./About.html">About</a></li>
                <li><a href="./Contact.html">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Contact -->
    <section class="contact">
        <div class="container contact_container">
            <aside class="contact_aside">
                <div class="aside_image">
                    <img src="../assets/image/undraw_personal_text_re_vqj3.svg">
                </div>
                <h2>Contact Us</h2>
                <p>
                    Untuk Info Lebih Lanjut Bisa Contact saya ya, melalui sosmed atau, Dengan mengisi Form ini Oke Thanks YOU 
                </p>
                <ul class="contact_details">
                    <li>
                        <i class="fa-solid fa-square-phone"></i>
                        <a href="tel:085695620052"><h5>Admin 1 : 085695620052</h5></a>
                        <a href="tel:082316857460"><h5>Admin 2 : 082316857460</h5></a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <h5>Robbybaehaqi8@gmail.com</h5>
                    </li>
                </ul>

                <ul class="contact_socials">
                    <li>
                        <a href="https://www.instagram.com/erbyorganizing/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/robby.baehaqi.35"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                </ul>
            </aside>

            <!-- Form Control -->
            <form action="https://formspree.io/f/xvonoley" method="POST" class="contact_form">
                <div class="form_name">
                    <input type="text" name="first Name"placeholder="first Name" required>
                    <input type="text" name="last Name"placeholder="last Name" required>
                </div>
                <input type="email" name="email Address" placeholder="Your Email Address" required>
                <textarea name="Message" rows="7" required></textarea>
                <button type="submit" class="btn btn-primary">Kirim Pesan</button>
            </form>
        </div>
    </section>


<!-- Footer -->
<footer class="footer">
    <div class="container footer_name">
        <h5>Build With <span style="color:#e25555;">&#9829;</span> &copy <i>2022</i> <b>BaeCode Digital</b> <span style="color:#e25555;">&#9829;</span></h5>
    </div>
</footer>
<!-- Link Js -->
<script src="../script.js"></script>

</body>
</html>